/* Style the label to look like a material design button */
label {
    display: inline-block;
    padding: 0.5em;
    background-color: #6c757d;
    color: white;
    cursor: pointer;
    border-radius: 0.5em; /* Change the border-radius property to create rounded corners */
    text-align: center;
    text-transform: uppercase;
    font-size: 0.5em; 
    letter-spacing: 0.1em;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    width: 175px;
  }
  
  /* Change background color on hover */
  label:hover {
    background-color: #5a6268;
    box-shadow: 0 0.3em 0.3em rgba(0, 0, 0, 0.3);
  }
  
  /* Hide the file input field */
  input[type="file"] {
    display: none;
  }

  /* Style the submit button */
button[type="submit"] {
    display: inline-block;
    padding: 0.5em;
    background-color: #0077cc; /* Change the background color */
    color: white;
    cursor: pointer;
    border: none; /* Remove the border */
    border-radius: 0.5em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.5em;
    letter-spacing: 0.1em;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    width: 175px;
    box-sizing: content-box;
  }
  
  /* Change background color on hover */
  button[type="submit"]:hover {
    background-color: #005fa3; /* Change the hover color */
    box-shadow: 0 0.3em 0.3em rgba(0, 0, 0, 0.3);
  }
  
  .container {
    display: flex;
    gap: 10px;
  }